[2015-06-26 22:30] mohsen1 opened #7 "Support all operation types"
All parameters are listed [here](https://github.com/swagger-api/swagger-spec/blob/master/schemas/v2.0/schema.json#L291-L310)

[2015-06-30 20:45] mohsen1 opened #8 "Extend ESLint rules to enforce more strict code styles"
Following code styles should be enforced with ESLint
* [x] indentation in `if/else`
* [x] quoted object keys
* [x] variable declaration. Disallow single `var`
* [x] enforce single quotes

Also look at [here](https://github.com/swagger-api/swagger-editor/blob/master/.jscsrc) for more useful rules

[2015-06-30 20:46] mohsen1 opened #9 "When there is an error, return with calling the callback with the error"
https://github.com/apigee-127/swagger-test-templates/blob/master/test/robust/compare/output2__Stub.js#L32-L34

[2015-06-30 22:16] #9 closed

[2015-06-30 23:44] #8 closed

[2015-07-01 00:00] mohsen1 opened #12 "The ESLint task for code is not running as part of npm test"
[this](https://github.com/apigee-127/swagger-test-templates/blob/master/test/eslint.js) file is being ignored while running `npm test`

[2015-07-01 00:04] mohsen1 opened #13 "Change ''should be {code} {description}'' to "should respond with {code} {description}""

[2015-07-01 00:14] noahdietz opened #14 "ESLint max-len rule fails on generated code with long descriptions/urls"

[2015-07-01 00:16] noahdietz opened #15 "Path parameter definitions are mistaken as operations, need to be ignored"
[code]

[2015-07-01 00:17] mohsen1 opened #16 "Use response schema to produce more accurate mock assertions"
A swagger like this should have assertions for existence and type of `value` in response

[code]

[2015-07-01 00:22] mohsen1 commented on #14
It's best to write a Handlebars helper for this.

[2015-07-01 01:35] noahdietz opened #17 "Support query parameters"
If query parameter is required, include it in all cases, otherwise for each query parameter make a new test case.

[2015-07-01 03:07] mohsen1 commented on #15
There is also vendor extensions. Possible operation names are a fixed set. So:

* in each iteration make sure you're ignoring vendor extensions. e.g. `x-apigee-...`
* when iterating in path for operation, filter down the keys to predefined list of valid operation. Can be found in #7

[2015-07-01 18:33] #15 closed

[2015-07-01 20:49] mohsen1 opened #19 "Populate cascading properties"
They include:

* path parameters (extends)
* consumes (override)
* produces (override)
* security (override)

[2015-07-01 20:50] mohsen1 opened #20 "Support multiple content-type"
If an API can get multiple content-type in it's operation, make different cases for each content-type

[2015-07-01 20:50] mohsen1 opened #21 "Support multiple content-type"
If an API can get multiple content-type in it's operation, make different cases for each content-type

[2015-07-01 20:50] #21 closed

[2015-07-01 21:36] noahdietz opened #22 "Change file naming convention"

[2015-07-01 22:38] #13 closed

[2015-07-01 22:49] #12 closed

[2015-07-01 22:50] noahdietz commented on #7
We will do this after we have finished upgrading/fixing the current templates with all the new functionality

[2015-07-02 19:59] mohsen1 opened #25 "Resolve references before processing the Swagger"
Use [this module](https://github.com/whitlockjc/json-refs) to resolve all `$ref`s before using the Swagger specs

[2015-07-06 18:15] noahdietz opened #28 "Use request schema to populate request body with properties"

[2015-07-06 18:39] noahdietz opened #29 "Change path parameters in generated requests to be more obvious"

[2015-07-06 20:41] mohsen1 commented on #25
@elsapeng the resolving should happen in Swagger Node land.

[2015-07-06 20:43] mohsen1 opened #30 "Inject ZSchema dependency to the project when generate-test command is triggered"
This should happen in Swagger Node land.

[2015-07-07 00:02] #16 closed

[2015-07-07 18:02] mohsen1 opened #33 "Make error handling just one line"
Replace

[code]
with
[code]

[2015-07-07 20:37] #28 closed

[2015-07-07 20:46] mohsen1 opened #35 "Code styles"
* Arguments should be in one line
* Enforce variable declaration to be like other projects
* When there is a line break because of width add a indentation

[2015-07-07 23:43] noahdietz opened #36 "response 'default' isn't handled in supertest.expect()"
ends up failing as:
[code]

[2015-07-08 23:32] #19 closed

[2015-07-09 21:45] noahdietz commented on #17
Fixed in

[2015-07-09 21:45] #17 closed

[2015-07-09 21:47] #33 closed

[2015-07-09 23:14] noahdietz commented on #25
Fix [here](https://github.com/apigee-127/swagger-node/commit/144c3e1dd10237365d361f5e792184e30a45557f)

[2015-07-09 23:15] #25 closed

[2015-07-09 23:37] noahdietz commented on #30
Fixed [here](https://github.com/apigee-127/swagger-node/commit/d1025559be219d9041479b61f26795c921bfb90c)

[2015-07-09 23:37] #30 closed

[2015-07-13 18:07] #20 closed

[2015-07-13 18:09] mohsen1 opened #41 "operation.consumes/produces/security should always be an array"
After this work [these lines](https://github.com/apigee-127/swagger-test-templates/blob/master/index.js#L212-L215) can be simpler.

[2015-07-13 18:20] noahdietz commented on #36
@mohsen1 can we close this if we are leaving it up to the user?

[2015-07-13 18:35] mohsen1 commented on #36
Sure.

[2015-07-13 18:35] #36 closed

[2015-07-13 19:28] noahdietz opened #42 "Utilize user-supplied object data to populate request/assertion values"

[2015-07-13 21:35] mohsen1 opened #44 "Add .editorconfig"
See [Editor Config](http://editorconfig.org/)

[2015-07-13 21:50] elsapeng commented on #44
Added .editorconfig on my local directory

[2015-07-14 00:04] #41 closed

[2015-07-14 00:04] #7 closed

[2015-07-14 01:34] #44 closed

[2015-07-14 02:31] #29 closed

[2015-07-14 15:50] #22 closed

[2015-07-15 16:58] elsapeng opened #48 "populate security properties"

[2015-07-16 00:06] mohsen1 opened #50 "Organize comparison files in test folders based on options"

[2015-07-17 19:29] mohsen1 opened #51 "Add dotenv dependency in swagger-node when running generate-test command"

[2015-07-20 16:54] #48 closed

[2015-07-20 16:55] #51 closed

[2015-07-20 18:12] noahdietz opened #52 ".env file not found by npm test"
The ```.env``` file needs to be moved to the root directory from the test directory, because calling ```process.env.OAUTH``` looks for the ```.env``` file in the directory that ```npm test``` is running in (i.e. root).

[2015-07-20 18:35] noahdietz opened #53 "overwriting prompt appears twice for the same file"
When running ```swagger project generate-test``` again after having already generated tests, i expected to get the overwrite prompt once for each file, but instead I get it twice for each. Still able to answer and see the options, it just appears twice.

Happens on both petstore-full and Instagram APIs

[2015-07-20 21:00] noahdietz opened #54 "--force option not recognized at cli"
Neither ```-o``` nor ```--force``` are recognized as CLI options for ```swagger project generate-test```, but the rest of the overwriting functionality is there and working.

[2015-07-20 21:01] noahdietz opened #55 "env variable names in generated tests do not match those in the env file"
the security variables are not capitalized in the env file, but are capitalized in the generated test code.

[2015-07-20 21:06] noahdietz opened #56 "auth not only in header param"
no support for oauth access_token in query string, only has it in header param

[2015-07-20 22:40] #55 closed

[2015-07-20 22:53] elsapeng commented on #54
@noahdietz, a quick question, so when you do generate-test -o, do you need to add anything after that, I mean like generate-test -o true, or something?

[2015-07-20 22:59] noahdietz commented on #54
@elsapeng no, the existence of the option in the CLI should indicate ```true``` and the absence should make the flag ```false``` by default

[2015-07-20 23:05] noahdietz commented on #56
this is an optional piece of functionality, and we will not support it at this time.

[2015-07-20 23:05] #56 closed

[2015-07-20 23:05] #14 closed

[2015-07-20 23:32] #54 closed

[2015-07-20 23:33] #52 closed

[2015-07-20 23:43] elsapeng commented on #53
fixed by [issue](https://github.com/apigee-127/swagger-node/commit/0d64dfc56c5431264779e2ddece324575de0e8c2)

[2015-07-20 23:43] #53 closed

[2015-07-21 03:36] #50 closed

[2015-07-22 20:41] mohsen1 opened #61 "Handle deprecated operation"
If operation is deprecated don't generate any code for it.

[2015-07-23 20:51] mohsen1 opened #63 "Use _.each for object iteration"
[`_.each`](https://lodash.com/docs#forEach)

[2015-07-24 16:50] #61 closed

[2015-07-24 17:14] theganyo opened #64 "error on default project using should"
[code]

[2015-07-24 17:21] theganyo opened #65 "Use query option instead of direct querystring manipulation for supertest"
For example, this is created currently for supertest:
`api.get('/hello?name=DATA')`
But superagent offers a nice way to add query parameters:
`api.query({ name: 'DATA' })`

See: http://visionmedia.github.io/superagent/#query-strings

(BTW: It looks like request module is doing the right thing by using the "qs" option there.)

[2015-07-24 17:46] noahdietz commented on #64
@elsapeng and i talked about this a while ago and we weren't sure how to determine what the default response code should be.

Maybe we shouldn't include that assertion at all if it is the ```default``` response case?

[2015-07-24 22:18] noahdietz commented on #64
@elsapeng is replacing with a string indicating a status code must be entered, just to make it valid JavaScript

[2015-07-26 17:37] #64 closed

[2015-07-27 15:30] #63 closed

[2015-07-27 15:30] #65 closed

[2015-07-28 22:30] elsapeng opened #71 "dotenv dependency added even not security properties"
Only checks if security is undefined, but it can be an empty array

[2015-07-28 22:33] #71 closed

[2015-07-28 22:48] mohsen1 commented on #71
Fixed by ba8af445beb23820d02cd51584df922ace3f04a4

[2015-07-28 23:27] elsapeng opened #72 "default response in request templates"
In request templates, handle the default response

[2015-07-29 01:36] elsapeng opened #74 "variable declaration should not be in the top of the file"
variable declaration should not be in the top of the file

[2015-07-29 18:32] #74 closed

[2015-07-29 18:33] #72 closed

[2015-08-10 19:45] noahdietz opened #76 "add ability to generate load tests at operation level"
It would be nice to have the ability to load test an API on an operation by operation basis.

Possible module for generated load tests could be based on [arete](https://www.npmjs.com/package/arete), which interfaces well with Mocha out of the box.

But what would be the best way to expose this functionality? Through command line flag that indicates the existence of a file with a list of paths + op

[2015-08-10 20:14] elsapeng commented on #76
I think if the user wants to load test, he/she has to specify which path and which operation, we can provide the list, but what if the list is too long? That might look strange in CLI

[2015-08-10 20:19] noahdietz commented on #76
I agree, using a CLI would be too much, which is why I think they should specify the path + operation list in a file as a JSON object that will make it easy to access in testGeneration

[2015-08-10 21:38] mohsen1 commented on #76
This module doesn't have a CLI so we don't worry how the CLI will look like in swagger-node. In it's own API however we can introduce a new option to enable load testing for the paths. We can even break the API by bumping version to `2.0`

Without breaking the API
[code]

New API

[code]

[2015-08-10 21:41] #35 closed

[2015-08-11 17:20] elsapeng opened #77 "Changes in Readme"
Do we need to add some explanation to the readme? :
- the pathname, if provided an empty array, it will generate tests for all paths
- we also have maxlen in config, so the templates have the max length limits
- pathname, testmodule, assertionformat are required, the maxlen & future config(like load test) are optional

[2015-08-11 17:59] elsapeng commented on #76
I can work on this rn, and also i found [this](https://www.npmjs.com/package/loadtest) looks helpful....

[2015-08-11 18:03] noahdietz commented on #76
@elsapeng i think the module i linked in my original post might be better, as it interfaces with mocha without any extra work, found [here](https://www.npmjs.com/package/arete)

[2015-08-11 18:14] elsapeng commented on #76
got it, so i think the api would look like:

[code]

[2015-08-11 21:43] mohsen1 commented on #77
From what I remember I wrote skeleton of the doc. Please push fixes (I know I have tons of type all the time! :D) to the branch I made PR from

[2015-08-11 21:46] mohsen1 commented on #76
I like this API @elsapeng +1 from me!

[2015-08-12 21:52] elsapeng opened #80 "Custom-Header should be the headerParameters' names"

[2015-08-13 01:53] noahdietz commented on #42
So we are already doing this for security properties...should we consider adding this for path parameters? This might be a good next step for the issue, as they are simple data types, no potential for complex objects (i.e. in the body or formData)

[2015-08-13 02:55] mohsen1 commented on #42
What if path parameter is generated dynamically?

1. POST /pet to make a pet, grab petId
2. GET /pet/{petId} to make sure it's created
3. DELETE /pet/{petId} to remove it

[2015-08-13 04:01] noahdietz commented on #42
Are you saying it's a reason not to implement loading from an environment variable or just saying we should consider it as a possible implementation? That sounds like it would be part of the "request series" feature we were considering. I'm thinking about all the individual tests for api calls that use the same path parameter...

[2015-08-13 04:25] mohsen1 commented on #42
I'm not saying it's a bad idea. It's actually very useful but it's only one case of many different things that people want to do.
What we're discussing here is a higher level of abstraction on top of what this module does. You can take output of this module and fiddle with the generated code (changing order of operations and filling in placeholders) to generate tests that need much less work to ge

[2015-08-13 17:26] noahdietz commented on #42
Right, I agree, path parameters is just a drop in the bucket of data injection, but it might be the easiest place to start?

If we built another module for test data injection, we would need to standardize the data placeholders so they are easy to manipulate post-generation. Also, the attribute that the placeholder is standing in for has to be identifiable so that it's easy to inject the data corr

[2015-08-13 18:16] noahdietz commented on #42
Could we leverage Mocha's built in [dynamic test generation](https://mochajs.org/#dynamically-generating-tests) to our advantage here? This feature is pretty cool, but might be more useful for edge-case test generation of a single path and/or redoing how we generate tests for an operation's different response codes (its the same API call, just a different input per expected response)

[2015-08-13 18:18] noahdietz commented on #76
Do we considering incorporating this into swagger-node CLI? If so, should the discussion be held here or in a new issue in a-127/swagger-node?

[2015-08-13 18:35] mohsen1 commented on #42
If I recall correctly, originally we wanted to have no test generation and do everything programmatically. With that all you needed to do was giving the tester module your swagger and some meta-data to test your API. The reason we went to code generation path was we didn't want to do stuff under the hood and only think about happy path.
Now with test generation we can still use some of that idea,

[2015-08-13 18:37] mohsen1 commented on #76
I would make a PR directly to swagger-api/swagger-node and ask @theganyo about CLI arguments design

[2015-08-13 19:32] noahdietz commented on #42
OK i'm glad we talked this through in some more detail, I'm convinced that this feature is outside the desired scope of this module. I am going to close the issue. Thanks @mohsen1!

[2015-08-13 19:32] #42 closed

[2015-08-13 23:06] #77 closed

[2015-08-13 23:06] #80 closed

[2015-08-13 23:09] noahdietz commented on #76
PR for CLI development [opened](https://github.com/swagger-api/swagger-node/pull/274). Closing this issue.

[2015-08-13 23:09] #76 closed

[2015-08-13 23:18] elsapeng opened #81 "Next release"
@mohsen1
Should we release our next version rn as v1.2.0 ? and it seems we kind of skipped our v1.1.1 (we made some small changes but not published)

[2015-08-14 00:49] elsapeng commented on #81
Ok, based on what we've talked on hipchat, we have some more questions and look forward to your comments and advice @mohsen1 @theganyo:
First is how to incorporate load testing in swagger-node cli?
And also, if we want to add controller generator, what we can do for the users? Right now what we can think of is to add stubs and also validate the requests (like parameters), but maybe there is more w

[2015-08-14 00:53] noahdietz commented on #81
@mohsen1 we talked through an extension/pivot for swagger-test-templates in hip chat if you want to see the conversation.

Like linjie said, we want to generate controller code that does minimal validation of request parameters to determine the proper response. This is like a mock controller, considering we can't wire to a database

[2015-08-14 01:52] mohsen1 commented on #81
I don't have access to Hipchat. Do you mean generating swagger-node controllers? Shouldn't that be part of swagger-node itself?

[2015-08-14 16:22] noahdietz commented on #81
That's a good point. Does it make sense to rewrite a lot of the same code that parses the swagger for path/operation information, though? Could we not pivot this module to generate controller code as well?

Or should we make another module that would be a dependency for swagger-node 'swagger-controllers' or something?

[2015-08-14 17:10] noahdietz commented on #81
Also, the controllers aren't limited to use in swagger-node, although they are NodeJS specific, so it might be nice to have it modularized out of swagger-node.

[2015-08-14 17:21] mohsen1 commented on #81
Can you give me an example of simple Swagger and generated controller? Isn't a controller just an empty function with `req, res, next` arguments? If there isn't much code inside of the controller and all we need is generating placeholder files it should happen in swagger-node then.

[2015-08-14 17:48] noahdietz commented on #81
[code]

Based on the API above, we could generate a controller that provided a minimal response based on request parameter validation.

[code]
This could be a pretty useful start to developing the controller logic, followed by wiring up a database. On more complex request parameters, there could be z-schema validation to ensure its a valid request.

The tricky part is when we have more complex res

[2015-08-17 07:36] anil614sagar opened #82 "Readme needs to be updated, Sample code gives an error.."
testGen(swagger, config);
^
TypeError: object is not a function

Ideally readme last line should be

testGen.testGen(swagger, config);

[2015-08-17 07:43] mohsen1 commented on #82
You're right. the [export](https://github.com/apigee-127/swagger-test-templates/blob/master/index.js#L500) has changed. Could you make a PR to fix this?

[2015-08-17 08:52] anil614sagar opened #84 "Readme Documentation code causes issue.. pathName should be used instead of pathNames.."
Users/Anil/Documents/Projects/dosomething/playground/swagger/swaggertests/node_modules/swagger-test-templates/index.js:393
  if (config.pathName.length === 0) {
                     ^
TypeError: Cannot read property 'length' of undefined
    at Object.testGen (/Users/Anil/Documents/Projects/dosomething/playground/swagger/swaggertests/node_modules/swagger-test-templates/index.js:393:22)
    at Obje

[2015-08-17 09:47] anil614sagar opened #85 "Example with petStore not working... Can we have a sample json & example for same ?"
[code]

Above code generates below output..

[ { name: 'pet-findByStatus-test.js', test: '/pet/findByStatus' },
  { name: '.env',
    test: 'PETSTORE_AUTH=YOUR_TOKEN_GOES_HERE\nAPI_KEY=YOUR_TOKEN_GOES_HERE\n\n' } ]

don't see any test files.. Am i missing something here ?

[2015-08-17 16:03] noahdietz commented on #85
This is a bug with the ```pathName``` option. It wasn't passing the test string to the output properly. Opening a PR.

[2015-08-17 16:38] noahdietz commented on #85
Also, there was a typo in the example you provided. The path should be ```'/pets/findByStatus'```, there was an 's' missing

[2015-08-17 22:39] #84 closed

[2015-09-29 13:59] chocstarfish opened #87 "validator in generated tests fails due to "UNRESOLVABLE_REFERENCE""
In the swagger spec file, the schemas of my responses contain
[code]
but swagger-test-templates failed to load the referred definitions and put them before the actual schemas, and that causes the validator failing due to "UNRESOLVABLE_REFERENCE"

[2015-09-29 14:15] mohsen1 commented on #87
How you resolve references in your swagger file before using it with this?

[2015-09-29 19:51] chocstarfish commented on #87
In the swagger file, there's a "definitions" property ( check out [here](https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#swagger-object]) ), and you can define schema objects here and reference them in other places(i.e. responses, parameters, etc) so that complex schemas can be re-used.

[2015-09-29 23:50] noahdietz commented on #87
You need to resolve the references you make to the definitions you define so that when parsing, we have the full definition not the reference. So before using ```testGen```, you have to use the [swagger-tools](https://www.npmjs.com/package/swagger-tools) module and call ```resolve```, as it is done [here](https://github.com/swagger-api/swagger-node/blob/master/lib/commands/project/project.js#L431)

[2015-11-20 18:38] danwkennedy opened #88 "Specify Swagger 2.0 as a requirement"
As far as I can tell, this module only works with version 2.0 of the spec. It would be helpful if that was explicit in the docs. You could even go one further and have the generator check and throw an error (right now, it fails with a TypeError)

[2015-11-22 05:11] elsapeng commented on #88
Thanks for your advice, we will specify it in the doc :)

[2015-11-30 15:50] mm-gmbd commented on #85
Is this now closed?

[2015-11-30 15:59] mm-gmbd opened #90 "Supply default path parameters (replace where PARAM GOES HERE)"
First, thanks for swagger-test-templates -- this looks like the start of a great tool (and a good start at that)!

I have a use case where almost all paths in the API contain a path parameter. It would be a great feature to be able to supply an object, say `pathParams`, where, if the parameter name enclosed in curly braces in the path matched a key in `pathParams`, it would be replaced with the co

[2015-12-06 23:17] #88 closed

[2015-12-08 17:29] noahdietz commented on #90
Fixed with #91

[2015-12-08 17:29] #90 closed

[2015-12-08 17:33] noahdietz commented on #85
fixed with #86

[2015-12-08 17:33] #85 closed

[2015-12-08 17:36] noahdietz commented on #82
fixed with #83

[2015-12-08 17:36] #82 closed

[2015-12-08 18:11] noahdietz commented on #87
Closing as answer was given and lack of activity. Reopen if problem/confusion persists.

[2015-12-08 18:11] #87 closed

[2015-12-08 21:20] mm-gmbd opened #92 "Operation response schema with $ref showing as having no schema"
It looks like, based on Issue #16 and PR #27, that functionality was added to include assertions based on the operation response schemas. However, I realized that none of my tests have any such generated tests, but every test has the following code:

    res.body.should.equal(null); // non-json response or no schema

Every operation that I have defined in my Swagger has a response schema that defi

[2015-12-09 00:55] noahdietz commented on #92
@mm-gmbd you are correct. The Javascript API of this module does not resolve definition references.

This tool was designed in parallel and for main use with the [swagger-node](https://www.npmjs.com/package/swagger) module. There, we implemented a CLI that actually resolved the references prior to test generation.

As such, the reference resolution here still needs to be implemented :)

[2015-12-09 12:31] mm-gmbd commented on #92
@noahdietz, thanks for the information. I've done some work on a fork of [swagger-js-codegen](https://github.com/wcandillon/swagger-js-codegen) that resolves references, but if there is written/accepted code that resolves these references in [swagger-node](https://github.com/swagger-api/swagger-node) that you could point me to, I can make another fork to implement this.

I'll take a peek at swagge

[2015-12-09 13:12] mm-gmbd commented on #92
After some quick inspection, I didn't find anything that looked like [swagger-node](https://github.com/swagger-api/swagger-node) that looked like there was reference support. Searching "ref" in the repository resulted in a few results, but they were all in markdown files and swagger YAML definitions, not actual code resolving references.

However, it looks like the chain is that *swagger-node* use

[2015-12-09 17:49] noahdietz commented on #92
@mm-gmbd I should've been more specific, I apologize. There is functionality to resolve references in [swagger-tools](https://github.com/apigee-127/swagger-tools/blob/master/lib/specs.js#L651). I was referring to the [use of this](https://github.com/swagger-api/swagger-node/blob/master/lib/commands/project/project.js#L433) in swagger-node prior to any test generation. There is no logging that stat

[2015-12-10 15:25] danwkennedy opened #93 "Add a changelog"
It'd be cool to be able to see a changelog so you could track new features/bug fixes.

[2015-12-11 01:41] noahdietz commented on #93
Hi @danwkennedy there is in fact a [release log](https://github.com/apigee-127/swagger-test-templates/releases) built into Github that tracks the releases as well as the commits since the last release. Our commit history is pretty well organized, so I think you'll be able to glean the info you need :)

[2015-12-14 20:59] mm-gmbd commented on #92
Hmm. So if swagger-tools is used, and swagger-tools has support for references, shouldn't swagger-test-templates already resolve those references correctly?

Does swagger-test-templates just need to use the latest swagger-tools to fix? I see that there is [an issue in swagger-tools for supporting external references](https://github.com/apigee-127/swagger-tools/issues/227), but these are internal d

[2015-12-14 22:49] noahdietz commented on #92
Swagger-test-templates does not resolve any references. It would be great to have that added.

What needs to happen is that the swagger given to test-templates needs to be run through the swagger-tools reference resolution function before being processed.

[2015-12-14 22:53] theganyo commented on #92
(Actually, all of this should be ported to use Sway instead of swagger-tools.)

[2015-12-14 22:58] noahdietz commented on #92
This project doesn't even have a swagger-tools dependency, so if reference resolution is added, using sway is breaking new ground. Good timing, should be a quick addition

[2015-12-14 23:00] theganyo commented on #92
Ah, good! Well, Swagger-Node should be ported. ;)

[2015-12-20 00:59] noahdietz commented on #93
closing this issue as the release log/commit history is curated well enough to fulfill this request

[2015-12-20 00:59] #93 closed

[2015-12-27 22:23] noahdietz commented on #92
@mm-gmbd, are you planning on opening a PR for this functionality? I'm planning on spending some time here and a I want to prioritize. Thanks!

[2015-12-30 16:21] mm-gmbd commented on #92
@noahdietz, apologies for the radio silence, just getting back into things from the holidays. At first, I was thinking this was a quick fix (i.e. add a call to `.resolve()`) or something like that, but I'm guessing porting to Sway from swagger-tools would be a bit more? I'd like to get this resolved quickly, so I may take a stab at it. I'll have a better idea in the next day or so.

[2016-01-04 05:47] noahdietz commented on #92
@mm-gmbd you're right, it won't be as easy as ```.resolve()``` but its not too much harder I believe. I dug through the Sway repo. It looks as though you must create a new SwaggerApi instance by using ```.createSwaggerApi()``` and passing the Swagger definition being used. The SwaggerApi object will have a ```resolved``` property that is the fully resolved swagger definition. This is the one that

[2016-01-05 11:39] samekmichal opened #94 "Validation run on string instead of object"
Currently, i am experimenting with project `swagger-node`, which utilizes this project - so thats why I report here.

I am having troubles validate payload responses against defined schemas. The source of the problem is in the test file, where the response body (json string) is not parsed into an object.

For illustration, excerpt from file in `/test/api/client/...`

[code]

Why the response paylo

[2016-01-05 17:57] noahdietz commented on #94
@samekmichal you're right, the body should be parsed out to a JSON object like you've provided in your example.

What needs to happen here is the templates should be adjusted to include the change and all of the diff files for testing must be updated to reflect the change...would you submit a PR for this? it's a simple change, but lots of files to change

[2016-01-07 07:41] samekmichal commented on #94
OK, I will have a try.

[2016-01-09 22:40] noahdietz opened #96 "Test request data population (body & query string)"
I am beginning work in my own fork on creating options for specifying the values of generated test request parameters in the body and query string, following a similar style to #91.

The options will take the form of JSON objects with values provided on a path-by-path, operation-by-operation basis. See the example below.

For a path specified as:
[code]
the corresponding parameter data would be pa

[2016-01-11 04:31] ngoctranfire opened #97 "Swagger-Test-Template response type with "application/html""
Hi, I noticed that the current contentType in the post.handlebars does not support the response content-type with application/html. I'm not sure if that was needed or not, but I added that in the request test module.. Not sure if that is the expected behavior, but I added support for that because I felt I wanted to validate that as well... I modified it in my node package. Not sure if others would

[2016-01-11 07:08] noahdietz commented on #97
Hey @ngoctranfire thanks for the interest for using the project.

This would be a nice addition to the project if you want to open a PR for this enhancement. You would need to:
* make the addition in all of the templates, both supertest & request
* add a test suite for the added functionality

Once you have the tests passing and you've submitted a PR, I will review it and determine if I can merge

[2016-01-11 13:28] ngoctranfire commented on #97
I can work on this if you would like. It will take me a few days to get it up since I won't have time until this weekend. Is that okay with you?

[2016-01-11 17:14] noahdietz commented on #97
@ngoctranfire that is totally fine! No rush on this, it's not a mission critical fix.

Take note, we have eslint formatting tests in place, which you will have to conform to in order to pass the tests.

Look forward to reviewing the PR!

[2016-02-06 16:56] noahdietz commented on #96
Now have data population for:
* path params (from a separate branch of work)
* query string params
* body params

Will submit a PR from my fork.

[2016-02-06 17:31] noahdietz opened #98 "Generation of API sequence tests"
I want to add an option that provides the ability to create tests containing a sequence of API calls. A common design paradigm in REST APIs is CRUD (Create, Retrieve, Update and Delete). As such, it is important to test these sequences (or ones specified by the developer) to ensure the core use case is operational.

This is not limited to CRUD, but will be configurable by providing a sequence obje

[2016-04-13 22:13] ferni commented on #92
Hi, may I suggest a pragmatic approach? Currently the code generator generates something like this in the middle of a test:

[code]

What if we modify the test generator to add the definitions object, like this:

[code]

[2016-04-17 01:00] 0x1mason commented on #98
@noahdietz Does this include the ability to "build" on data obtained in a previous test? E.g., I want to
1. Get `/foo/users?name=0x1mason` <== returns userId
2. Get `/foo/{userId}/info` <== cherry pick firstName from response body
3. etc

[2016-04-17 01:09] noahdietz commented on #98
@0x1mason yes! If you look at the PR right above your comment, I implemented integration test generation in my own fork. The implementation is slightly different than defined in my original issue here. This feature is slightly limited in the support of the robust OpenAPI (fka Swagger), I wanted it as a PoC.

The [README](https://github.com/noahdietz/swagger-test-templates) of my forked repo has th

[2016-04-17 01:26] 0x1mason commented on #98
Sweet, thanks!

[2016-04-19 07:01] ferni commented on #92
To solve this I just used this simple tool: https://www.npmjs.com/package/json-schema-deref

Just "deref" it before passing it to the test generator.

[2016-04-21 16:54] noahdietz commented on #92
@ferni are you using the asynchronous module? It would be trivial to add the [synchronous version](https://www.npmjs.com/package/json-schema-deref-sync) of this module, combined with [js-yaml](https://www.npmjs.com/package/js-yaml) so we can take in a swagger.yaml file as input always.

[2016-04-25 19:45] ferni commented on #92
I used the async one, but I don't think it would make much of a difference if I used the synchronous version.

[2016-04-26 17:16] noahdietz commented on #92
@ferni ok, it would be really cool if you could put together a PR that utilizes the synchronous version within testGen to deref the JSON. If you wanted to go so far as to add support for reading in a yaml file prior to deref, that would be much appreciated.

[2016-04-26 19:32] ferni commented on #92
Ok, I'll do that tonight. Should the code detect if the file is YAML or JSON, and in the case it is YAML, convert it to JSON? Or should it be assumed that it is always YAML?

[2016-04-26 21:42] noahdietz commented on #92
the former option would be preferred. Or you can add an option whose presence means the input is a yaml file. whichever you'd prefer. But assuming yaml would be tough because all of the tests use a swagger.json input file :)

[2016-04-28 21:43] ferni commented on #92
I did the defer thing, I didn't do the YAML thing yet, but one thing at a time is just as well right?

[2016-06-23 19:00] mikefeher-waitr opened #104 "Parameter $refs not available"
Currently does not support derefrencing of the parameter values. There is a [check failing](https://github.com/apigee-127/swagger-test-templates/blob/master/index.js#L136) on $refs for parameters on the path level.  Not sure how to approach this without dereferencing the doc and copying the output of the path level parameter as a work around. Just as a side note, I switched over to the [BigStickCa

[2016-07-14 16:45] mm-gmbd commented on #92
Should this be considered closed with PR #103? Thanks @ferni!

[2016-07-14 19:13] mm-gmbd commented on #96
Hey @noahdietz -- I'm coming back around to using STT and am in need of the exact same feature.  Any chance this PR is ready, or can I jump in to help complete?

[2016-07-14 19:27] mm-gmbd commented on #96
Actually, I just glanced at your branch and saw your implementation of adding optional parameters `bodyParams` and `queryParams`.

A couple of notes:

- Is there a way to provide different sets of inputs for requests that should succeed vs. fail? It looks like they are only definable by route (rather than by route *and* success/failure)
- Using tools like [json-schema-faker](https://github.com/jso

[2016-07-14 20:02] #92 closed

[2016-07-14 20:22] noahdietz commented on #96
@mm-gmbd thanks for revisiting the project

* no, there is no way to differentiate data between passing & failing, although that would be much more desirable...I did this in my own fork as a sort of proof of concept for a paper i was writing.
*  json-schema-faker looks pretty cool to me, how do you propose specifying successful/failure? An idea that just came to me was you use a handlebars helper,

[2016-07-14 21:10] noahdietz commented on #96
I would like to avoid changing the traversal hierarchy if possible...my suggestion:

We take the syntactic approach you've suggested in the STT config, allowing specification of values based on status code, stored in an array keyed to the path...._however_ we do the evaluation of the request parameters (i.e. a look up in the `bodyVals`, based on the status code && path being evaluated in the templ

[2016-07-15 13:38] mm-gmbd commented on #96
Hmm, I understand what you're saying, but I'm not sure how to realize the goal of generation of multiple test cases *per statuscode* in the current structure, unless the templates were more heavily modified.

And actually, maybe it's not as impossible as I'm thinking...

For example, let's look at `/templates/supertest/put/put.handebars`. Right now, it generates a single test, starting as follows:

[2016-08-14 18:06] melindafekete commented on #104
I had to add these to make it work with current swagger specs

[code]

and then using
[code]

worked for me

[2016-08-17 09:50] Remco75 commented on #104
@melindafekete , thnx. Seems that this module is not ready for the new specs.
More formats are missing, (I encountered int64, but there could be more)

I will try to fix this in a PR, but it will take time. Help appreciated ;-)

[2016-08-17 09:57] Remco75 commented on #104
btw there seem to be 2 problems:
- I think in the generated test the schema variable is meant to be populated with the actual schema-json (instead of the ref)
- the missing types need to be declared in z-schema automaticly

[2016-08-31 09:20] Remco75 commented on #104
hmm, some update, there is code in master that parses the $refs, but it is not includes in the npm-release :-(

Please release the latest code!

[2016-08-31 09:34] Remco75 opened #105 "New Release 1.3"
Hi,
Could you please release the current master (1.3?, 1.2.x? )? The added json-deref makes it worth-while. Also on npm would be nice ;-)

Thnx!

[2016-08-31 12:38] Remco75 commented on #96
Hi all, any progress on this? I am currently in the process of implementing the some kinda functionality using the swagMock module for data generation. Will push it soon and make a PR if anyones interested that is ;-)

[2016-08-31 12:51] mm-gmbd commented on #96
I have implemented a version of this but haven't submitted a PR, and I think the version I ended up with is closer to the way @noahdietz was hoping it would be.

Rather than the way I wrote it in my last comment (modifying the template to include a big `if/else`), I *slightly* altered the codegen (but I think it still fits the current paradigm) to ask for user input or utilzie the input testing if

[2016-08-31 13:01] Remco75 commented on #96
ha, cool!
Would lik to see the PR. Is it in a branch on github already? then I can check it out

[2016-08-31 13:28] mm-gmbd commented on #96
Opened a PR and included a few comments: https://github.com/apigee-127/swagger-test-templates/pull/107

Only has body parameter input testing, not query params.

[2016-08-31 16:56] noahdietz commented on #105
@Remco75 @mm-gmbd I will cut a new release (probably a 1.3.0), but I want to make sure we get the right stuff/not leave anyone out. Both of you have been active on this project and I would _really_ appreciate the help.

Please post on this thread what issues/PRs you want to see merged prior to a 1.3.0 release.

I merged @Remco75's PR for custom template config, so that is in.
#104 will probably be

[2016-08-31 17:09] mm-gmbd commented on #105
@noahdietz -- I'd be happy to check out and resolve the failures, but I did notice them when I opened the PR and wasn't quite sure how to mitigate. I'm not a Travis whiz :)

![image](https://cloud.githubusercontent.com/assets/3329824/18138724/1d311cd0-6f7c-11e6-93a7-13f1de7c1b75.png)

I didn't *remove* any environment variables, so what environment variables need to be set? Thanks!

[2016-08-31 17:10] mm-gmbd commented on #105
Oops -- I thought this was on the PR, sorry! Moving discussion on Travis failure to the PR...

[2016-08-31 18:15] Remco75 commented on #105
Cool lot's of activity all of the sudden!
I agree, #104 can be closed after release of master. Although we still are lacking support for the formats like int64 int32 etc that z-schema does not know about. #99 was attempting to solve that (as well as myself in a PR I closed because of duplication.  I will look into the #99 PR and see what I can do tomorrow.

[2016-08-31 21:43] noahdietz opened #109 "update .travis.yaml Node.js versions"
Desired to be done for #105

[2016-08-31 21:44] noahdietz commented on #105
I want to add #109 as the last thing before I cut a new release. Travis running against some pretty old versions of node...

[2016-09-03 10:17] Remco75 commented on #109
see #111

[2016-09-03 10:18] Remco75 commented on #104
#110

[2016-09-04 15:20] #109 closed

[2016-09-04 15:29] #98 closed

[2016-09-04 15:35] #81 closed

[2016-09-04 15:48] noahdietz commented on #104
Fixed by #110. Closing.

[2016-09-04 15:48] #104 closed

[2016-09-04 15:59] noahdietz commented on #94
@Remco75 have you noticed this at all? It seems weird to me that this looks to be a bug but no one else has reported having trouble with it.

I dug around the `request` [docs](https://www.npmjs.com/package/request#custom-http-headers) a bit and confirmed that when the data must be accessed they do indeed `JSON.parse()` the `body` param of the callback.

[2016-09-04 16:26] Remco75 commented on #94
@noahdietz I will look into it tomorrow. I did not notice it yet... strange indeed. Let's investigate shortly, and decide

[2016-09-04 16:27] noahdietz opened #112 "Rename module"
With Swagger being the property of SmartBear, this project needs to be renamed to something either referencing the new OSS foundation OpenAPI, or something entirely new (but still related).

After a new named is picked we need to:
- [ ] Make a new `npm` registry for the new module
- [ ] Rename this GitHub repo to reflect.
- [ ] Point the old `npm` registry (`swagger-test-templates`) to the new rep

[2016-09-04 17:03] noahdietz commented on #94
Also, this only pertains to use of `request` as the http agent. Using `supertest` references the `res.body` value for validation, as it doesn't have a third `body` param.

[2016-09-04 17:13] noahdietz commented on #94
Could this be a backend implementation detail? I'm looking at the source code for `request` and it looks like if `json` is being transferred it will parse the JSON object, store in the response object and even return it as the extra parameter ([`request` source reference](https://github.com/request/request/blob/master/request.js#L1037-L1048)). I'm kind of shooting from the hip here, just getting t

[2016-09-05 12:31] Remco75 commented on #94
Dug into this a bit, and found 2 things:
According to the [docs](https://www.npmjs.com/package/request#requestoptions-callback) we should set json to true and then the body will be parsed, and the response is JSON, and it will set the correct header.

We do it slightly different, we set the body _inside_ the json and set the application/json header ourselves.

To at least better catch these errors

[2016-09-05 12:33] Remco75 commented on #112
Does smartbear object to using the swagger reference? or do you just think its better this way?

do not have a idea for a name though

[2016-09-05 17:04] noahdietz commented on #97
Closing due to inactivity.

[2016-09-05 17:04] #97 closed

[2016-09-05 17:13] noahdietz commented on #94
@Remco75 so what kind of change are you proposing? Just adding `json: true` to request options?

Even if what we do currently "works", if there is a way to make it more reliable/idiomatic, I'm ok with that, so go ahead with a PR if you've got time.

[2016-09-05 19:17] Remco75 commented on #94
Ok, will try to find time to make a PR tomorrow or Wednesday. But again, this does not seem like a true bug to me.

[2016-09-05 19:53] noahdietz commented on #94
@Remco75 no pressure, if this doesn't make the cut for a new release, I'm not too worried.

[2016-09-06 09:21] Remco75 commented on #94
hmm, this is getting some serious work for a bug that might not even be a bug.
Im skipping this one, at least for the release.

[2016-09-07 10:00] Maples7 commented on #105
So, any plan to release 1.3.0? I'm looking forward to it!!! And, please let me know after release. :wink:

[2016-09-07 11:00] Remco75 commented on #105
@Maples7 , yes, it's coming.... soon ;-)
We want #107 to be in there, so if you can help out there, feel free to join the development.

[2016-09-07 12:06] Maples7 commented on #105
@Remco75
Awesome job!!! This would make API tests much easier!
I'll have a try when I get some time~

[2016-09-07 12:09] Remco75 commented on #105
@Maples7 , thnx, but also thank @noahdietz and @mm-gmbd ! :-)

[2016-09-07 15:32] noahdietz opened #115 "mock test data generation"
This issue is open to discuss the viability of generating mock data for STT generated unit tests. The discussion is being being continued here from #107, so refer to there if you are catching up.

[2016-09-07 16:16] noahdietz commented on #115
@Maples7 your first comment:

I understand the sentiment and it has merit. The issue is that this creates "inter-test dependencies." Meaning that one or more test depends on the others succeeding. This isn't something that we want :) These are unit tests, and as such, need to be tested independently of each other.

@mm-gmbd that last sentence there ^ also kind of applies to what you were implying

[2016-09-07 16:49] Maples7 commented on #115
I just present a tiny thought about the solution for _the well-known `userId`_ problem, but it doesn't matter for me how to solve it finally. That's true the tests would not be independent in my way, but the only relationship between them is that they just operate the same data we create ourselves. I don't figure out any drawbacks for now.

Of course, that's just a proposal, the developer of this

[2016-09-07 20:39] mm-gmbd commented on #115
@noahdietz / @Maples7 / @Remco75 - I've got a little time to flesh out my idea now, so here goes...

In Swagger, we define request *schemas* and response *schemas*. Using the `users/{userID}/firstName` example, the PUT *could* look something like the following:

[code]

Notice that, in the API itself, we do define the exact value for `newName` because this is an API. We can define the *schema* for

[2016-09-08 06:53] Remco75 commented on #115
@mm-gmbd ,cool idea's. I will look into it somewhere the coming 2 weeks (srry, kinda busy).
One remark to start of: ik will probably a lot of work to catch all possible validations and write failing data for that scheme. We need to think up something clever.

As far as data generation goes: let's look into other modules already doing this to see if we can use that as dependency and join forces the

[2016-09-08 12:33] mm-gmbd commented on #115
@Remco75 -- that is part of the basis of this discussion. If you take a look at the discussion in #107, I suggested utilizing [json-schema-test-data-generator](https://github.com/bojand/json-schema-test-data-generator).

I am already doing this today in a gulp task, but it could be easily pulled into this project:

[code]

[2016-09-14 07:42] Remco75 commented on #115
Just another thought, would be cool to use the example property ( if present ) to fill the mock data.

This snippet is derived from the pet-schema:
  "name": {
          "type": "string",
          "example": "doggie"
        }

Carefull documentation of your API would then lead to comprehensive docs!

[2016-09-14 15:46] noahdietz opened #117 "Reevaluate module testing"
@Remco75 brought up the fact that it is quite laborious to make changes to this module because then it needs to be propagated across 10s of diff comparison files. This is not a new deficiency, it is well known (@mm-gmbd and I both know the pains), but it is one that is time consuming to tackle.

Let us brainstorm a better way to test this modules functionality, and subsequently make it easier to m

[2016-09-15 09:49] Remco75 commented on #117
To do a small kick-off:
We could de something with the custom template-location functionality. If we use templates located in the respective test directory's we could, for example, use an almost empty outerDecribe template, so we can have way simpler describe files.

Another step might be the to compare files stripped of whitespace, newlines and comments. That makes changes less tedious (i.e. and

[2016-09-17 19:56] noahdietz commented on #117
@Remco75 I think it would be a little risky to depend on the functionality of the module for the testing of the rest of the module, if I'm understanding you're suggestion.

Going off of your second suggestion, we might be able to utilize the [diff](https://www.npmjs.com/package/diff) module to make comparisons. Things like `diffTrimmedLines` look quite promising. It will also shows just the actual

[2016-09-18 10:21] Remco75 commented on #117
@noahdietz , yeah, that was what I meant. I is a bit shady indeed, although we would test the templatesPath functionality very well then ;-) But I agree it's a bit shady. We could overwrite the outerDescribe template with a custom , almost empty template before running the test. But that is also not very clean.

Using the diff module seems feasible, and a good plan!

[2016-09-26 10:38] bgaluszka opened #118 "Body parameter"
Currently this code https://github.com/apigee-127/swagger-test-templates/blob/master/templates/request/post/post.handlebars#L24-L28

[code]

based on this description

[code]

generates body that looks like this

[code]

but I think it should look like this

[code]

this is because by http://swagger.io/specification/#parameterObject body is `The payload that's appended to the HTTP request. Since t

[2016-09-26 17:04] Remco75 commented on #118
Yeah, I agree it looks a bit funny. ATM we are building the ability to include request-data during test generation, so you don't have to see the 'DATA GOES HERE' anymore ;-)

[2016-09-26 18:36] Remco75 commented on #117
ok, I was thinking about this a bit more now that i'm more acquainted with the codebase.
I think to solve this we also need to take a good look at the code self.
 We can view this module as any other rendering app (like a webapp), with a MVC like pattern. Only we do not have proper mvc ;-)

I think is we try to seperate the logic (preparing the data), and rendering (templates + templates functions

[2016-09-27 08:13] bgaluszka commented on #118
Point was that `bodyParameters` shouldn't be an array, looped through etc. :)

[2016-09-27 13:45] Remco75 commented on #118
check, I think we should fix that. @noahdietz do you have any thought about this? I think we should do #117 first before doing anymore work on the templates, right now it's very frustrating to work on them

[2016-09-27 20:13] noahdietz commented on #118
@Remco75 agreed, #117 should be merged first before addressing this.

[2016-09-29 07:31] Benny-Beermann opened #120 "Swagger Editor examples not testable"
Hi,

I know this is no real concrete issue, but I'm asking myself if I'm doing something wrong. I'm currently investigating the capability of swagger-test-templates, as it looks quite promising and is exactly what we need in our projects. But when I'm generating tests for any of the examples you can load in the Swagger Editor (for example the pretty simple PetStore on Heroku), all the resulting te

[2016-09-29 17:31] noahdietz commented on #120
Benny, hello, in the next release, the `$ref` resolution should be fixed per discussion and related PRs in #104

We are wrapping things up for the next release.

[2016-09-30 05:32] Benny-Beermann commented on #120
Thx for the quick reply Noah. Looking forward to see the next release.

[2016-09-30 05:32] #120 closed

[2016-10-04 02:40] jamesabc opened #121 "Feature request: configurable swagger.yaml and test output location"
First, thanks for the awesome package.  Saves typing a lot of boilerplate!

Our issue is that we're using this in an existing project with an already existing directory structure for test files.  It would be nice if the location of the swagger.yaml and the directory of the generated test files could be configured by command-line arguments so we could run this script without having to move the gene

[2016-10-04 02:53] noahdietz commented on #121
Hey @jamesabc ! First, thank you lots for using the module and opening this feature request. Love seeing an active user base.

As for your request, I don't think this is an issue with the module as is. Are you using it through the `swagger-node` project?

The module as is returns an array of objects containing the file names and the actual file contents as a string. This is because we didn't want

[2016-10-04 02:57] jamesabc commented on #121
Ah sorry, I did not RTFM before posting :(

I am using the `swagger project generate-test` command, which does allow us to use a yaml spec without issue, but I could find no way to change the output location from there.  However, writing a custom wrapper script that uses the node interface should be a snap.  Thanks for your speedy reply!

[2016-10-04 02:57] #121 closed

[2016-10-05 10:30] jamesabc commented on #105
Can we get a `1.3.0` with configurable `templatesPath` feature and push #107 back to `1.4.0`?  I would be very happy...

[2016-10-05 11:15] jamesabc opened #122 "Multiple apiKey security parameters"
I have the following valid swagger.yaml:

[code]

Almost every request to my API uses the same 3 headers, so I found it reduced boilerplate a lot to specify them in `securityDefinitions`.

It may not be the best way, as I am new to swagger, so I am open to advice if you know of a better way to achieve this, but at the same time, given that this is syntactically valid in swagger, it is a problem th

[2016-10-06 08:37] Remco75 commented on #105
yes, I agree that this is taking too long. (release small , release often should be the way to go)
@noahdietz @mm-gmbd , a proposal: let's release at 14 oktober, regardless we have finished everything we wanted.
I hope we can find the time te review #119 so we can close some bugs and PR's. If not: 1.4 it is!
lemme know your thoughts

[2016-10-06 08:44] Remco75 commented on #122
well, I don't think it is a very nice way to send headers (they are not all security headers), but you already said that yourself :-)
That being said: I can imagine more that one security header needed, so looping over the security array seems ok. But we will need to think about naming, and rendering them in the templates.

That would make only feasible after we do #117

[2016-10-06 15:39] noahdietz commented on #105
sgtm

[2016-10-12 08:24] Remco75 opened #124 "Support for JSON api which use json-vulnerability protrection"
One for the list:
I have endpoints that use JSON-vulnerability protection. That means it adds  )]}, before the start of the response-json, making it invalid.  (this protection is widely used, among others, angular supports parsing these responses).

When encountered with this response node doesn't view this as JSON, but just returnes the string.
This might actually be the behaviour noticed in #94

[2016-10-13 00:38] #96 closed

[2016-10-13 00:49] #105 closed

[2016-10-13 00:54] noahdietz commented on #112
With new release out we should begin the renaming.

I have not been specifically contacted by SmartBear but it is good to respect their IP and we should be following the new OpenAPI OSS foundation anyways.

Lets get a new name! :)

[2016-10-13 09:07] Remco75 commented on #112
Whoohoo, great job on the release all!
1.4 here we come ;-)
First the new name:
how about
- openAPI-test-generator
- openAPI-test-templates
- openAPI-integration-test-generator
...

[2016-10-14 02:31] noahdietz commented on #112
There are some obvious names that utilize the description framework's name, but let me suggest something more fun.

I've been talking with some folks at work and we think we've decided on a name, let me know what you think.

This module creates test templates that, at their core, give you the basic structure and organization necessary to build a robust unit test suite. Another way to think about t

[2016-10-14 06:16] Benny-Beermann commented on #112
Nice idea but consider the overlapping with the Bamboo product of Atlassian, which might confuse a lot of people. Just my 2 cents :)

[2016-10-14 09:04] Remco75 commented on #112
hehe @Benny-Beermann I was immediately thinking the same....
I is nice to know how the guys at Atlassian  came up with the name of their build tool (and I admit, the name makes sense ;-))

So, I would not name it Bamboo, too much confusion.
But I like where you want to go with a name.
Now I'm thinking of it that way: I actually use this module to generate integration tests to make sure we do not b

[2016-10-14 16:16] Remco75 commented on #112
btw, it is still your module! so if you feel like naming it bamboo after all: don't hold back :-)
just giving an opinion here

[2016-10-27 08:13] Remco75 commented on #112
Oh, it's suddenly quit here ! I hope your not disappointed by the existence of the bamboo of atlassian ;-)
Are we moving on with this?

[2016-11-11 18:22] mmmatthew opened #125 "pathified path for supertest get contains backslashes"
The generated test files (using supertest) contain backslashes in the path for the api.get line.
(the segment shown below is generated from `templates/supertest/get/get.handlebars ` lines 6 and onwards.
Extract from my generated test file:
[code]
Is this normal?

[2016-11-11 18:52] noahdietz commented on #125
This is not normal, as this is not a valid URL...
@Remco75 what do you think is causing this? is it possibly this section of [pathify](https://github.com/apigee-127/swagger-test-templates/blob/master/lib/helpers.js#L109-L112)?

[2016-11-14 08:59] Remco75 commented on #125
@noahdietz I will try to find some time later this week

[2016-12-08 08:17] svnk commented on #125
This is, because swagger-test uses path.join() to construct URLs. This works on Mac and linux, because they use slashes "/" to separate filesystem paths. But windows uses backslashes...

https://github.com/apigee-127/swagger-test-templates/blob/master/index.js#L93

http://stackoverflow.com/a/39738509 says, to use url-join instead.

[2016-12-08 08:19] Remco75 commented on #125
aah, nice one! I did not find time to dive into this one: I will try to make a PR soon, thnx @svnk

[2016-12-09 21:55] cfjedimaster opened #126 "Document return array"
The docs say that the result is an array of file names and test content, but it doesn't document what they actually are, specifically that 'name' is the file name and 'test' is the content.

[2016-12-09 22:45] noahdietz commented on #126
Thank you, I'll fix this right away.

[2016-12-09 22:52] noahdietz commented on #126
Fixed with commit: [51a5311d554feb4d92f698d5539789b2dbc01b85](https://github.com/apigee-127/swagger-test-templates/commit/51a5311d554feb4d92f698d5539789b2dbc01b85)

[2016-12-09 22:52] #126 closed

[2016-12-12 15:03] jurajpaulo opened #128 "Multiple requestData sets don't translate into multiple tests"
Since requestData per requestPath/operation/response is an array, i assumed multiple sets would create multiple tests, one for each set of request data. But only the first one is used.

i.e.

[code]

creates a test only for `api.get('/albums/1')`, not `api.get('/albums/3')`.

[2016-12-16 09:12] Remco75 commented on #128
Hmm, I will look into this. I am horribly busy, but will try to find time soon

[2016-12-16 17:10] #125 closed

[2016-12-17 02:32] ssteinerx opened #129 "Update to eslint@3.12.2 causes failing tests"
I did a:

`npm run test`

to get started with this package and noticed the following deprecation warnings when installing dependencies:

[code]

Updated only the eslint dependency to the latest (3.12.2) from ^0.24.1 (released way back here: @nzakas nzakas released this on Jul 10, 2015 · 2904 commits to master since this release).

Now, with the new eslint (and no more deprecation warnings), eight

[2017-03-14 21:38] Murrugarra opened #130 "Duplicate Test Units"
I generated some test scripts for one endpoint, but for some reason STT is creating four it() statements in the API Test Javascript file.

[2017-03-14 22:39] noahdietz commented on #130
Hey @Murrugarra!

Can I ask, does the one endpoint have multiple responses defined in the spec?
For example (not valid spec, just pseudo code):
[code]
This single endpoint, having four responses defined in its spec, will have 4 `it()` blocks because it will have 4 responses to test.

Does that clear it up or is your situation different? If it's different, please share as much as you can about your

[2017-04-20 15:29] baynezy opened #133 "Does this project only work with APIs built in Node.js?"
I wouldn't normally bug you with questions via GitHub issues, but I am struggling to find an answer to this question. I have searched high and low for an answer and have not managed to find a definitive conclusion.

This [poor fellow](http://stackoverflow.com/questions/35657134/can-i-use-swagger-test-template-with-non-nodejs-app) asked about a year ago and suffered the fact that people didn't read

[2017-04-20 15:37] noahdietz commented on #133
Hey @baynezy, to be honest, I didn't know there were questions on SO regarding this project! I'll have to keep an eye out for those, thank you.

Simple answer: No, it is not exclusively for Node.js APIs.

Longer answer: The API doesn't have to be implemented in Node.js for a STT generated test to target it with an HTTP request. You have to use Node.js to utilize this module (obviously), but as lon

[2017-04-20 16:01] baynezy commented on #133
@noahdietz - thanks that does clear things up. Thank you very much. I am fine with the testing application mandating Node.js. It is just that I want to test an API written in Java.

I do have one other question though. I might be being slow, but how do you point it at a particular host? None of the [arguments](https://github.com/apigee-127/swagger-test-templates#arguments) seem to suggest that the

[2017-04-20 16:06] noahdietz commented on #133
I followed up on the SO question as well, thank you for bringing that to my attention.

The host is derived from your Swagger's global `host` property, at [this line](https://github.com/apigee-127/swagger-test-templates/blob/master/index.js#L195).

I realize that it isn't convenient to change this value whenever you want to test something, and an option to override this would be helpful.

[2017-04-20 16:14] baynezy commented on #133
@noahdietz - thanks. I also followed up on that SO post :wink: :+1:

So based on what you are saying if I am using swagger-test-templates as an NPM module then I need to make sure that my API I am testing is running on http://localhost:10010 ?

[2017-04-20 16:24] noahdietz commented on #133
Not quite. The default, _if your Swagger spec does not contain a `host` value_ (see brief [docs](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#fixed-fields)), is to use `localhost:10010` in the generated test code as the hostname to target with a test. You can change it manually in the generated test files, but I realize that is annoying to do and an option to change thi

[2017-04-20 16:27] baynezy commented on #133
@noahdietz - totally understand on the `host` issue.

On the other issue. What I want is something that will generate me some tests from a Swagger spec. So that I can get some coverage for free (or cheap) of the plumbing of HTTP of a REST API. So that I can concentrate on testing business logic. So I think we are on the same page.

[2017-04-20 16:30] baynezy commented on #133
For the `host` issue a work around is to do this:-

    var swagger = require("./spec/swagger.json")
    swagger.host = "some.other.api";

[2017-04-20 16:47] noahdietz commented on #133
@baynezy perfect, you are a prime user then 😄

That work around is definitely manageable. Good idea. If I get a free cycle or two, I might add a `host` option (trivial addition), and address some other ideas in a new minor release. But no promises... 😉

If you don't have anymore questions, feel free to close the issue. You can also hit me up/DM me on Twitter @no_d_here if you don't want to open an

[2017-04-21 09:18] baynezy commented on #133
Thanks for all your help @noahdietz

[2017-04-21 09:18] #133 closed

[2017-04-25 13:19] baynezy opened #134 "Does this project support YAML?"
I am trying to create tests from a YAML definition.
https://gist.github.com/baynezy/95d9668eaae7a56114609b0b345d52b7

The YAML is valid and if I convert it to JSON then it works as expected.

When it is YAML is appears to be parsing strings as file structure.

[2017-04-25 15:24] noahdietz commented on #134
tl;dr No

This module was originally written to be integrated with `swagger-node` and it's CLI, which would take the YAML and resolve all the definitions and present you with a JSON. That's what we built against.

It wouldn't be too hard to add support for this, but it just hasn't been much of an issue for folks, so I hadn't added it.

[2017-04-27 08:40] baynezy commented on #134
OK. Shall I raise a proper issue for that then?

[2017-04-27 08:55] baynezy opened #135 "Generated tests have broken URLs"
I have a Swagger file

    {
        "swagger": "2.0",
        "info": {
            "title": "The new Uber API",
            "description": "Move your app forward with the Uber API",
            "version": "1.0.0"
        },
        "host": "localhost:8080",
        "schemes": [
            "http"
        ],
        "basePath": "/v1",
        "produces": [
            "application/json"
        ]

[2017-04-27 09:09] baynezy opened #136 "Schema Validation Always fails"
I have a Swagger file

    {
        "swagger": "2.0",
        "info": {
            "title": "The new Uber API",
            "description": "Move your app forward with the Uber API",
            "version": "1.0.0"
        },
        "host": "localhost:8080",
        "schemes": [
            "http"
        ],
        "basePath": "/v1",
        "produces": [
            "application/json"
        ]

[2017-04-27 09:39] baynezy opened #137 "Is requestData actually implemented?"
I have a Swagger file

    {
        "swagger": "2.0",
        "info": {
            "title": "The new Uber API",
            "description": "Move your app forward with the Uber API",
            "version": "1.0.0"
        },
        "host": "localhost:8080",
        "schemes": [
            "http"
        ],
        "basePath": "/v1",
        "produces": [
            "application/json"
        ]

[2017-04-27 15:41] baynezy commented on #137
Ok,
So on further investigation I can see it has been implemented for [request bodies](https://github.com/apigee-127/swagger-test-templates/blob/master/test/request-data/test.js#L46-L52).

However, [the documentation](https://github.com/apigee-127/swagger-test-templates#sending-requestdata) seems to indicate that it is possible to set the query parameter values as well.

[2017-04-27 21:26] noahdietz commented on #134
Sure, please do.

[2017-04-27 21:26] #134 closed

[2017-04-27 21:36] noahdietz commented on #135
I'm sorry @baynezy , I could't reproduce the error with the swagger & code you gave me. The paths look as they are expected to.

I'm not sure where to go from here, I'll keep thinking.

[2017-04-27 21:38] noahdietz commented on #135
If you're on Windows, this might be the problem

https://github.com/apigee-127/swagger-test-templates/issues/125

[2017-04-27 21:39] noahdietz commented on #135
I believe the fix was in release v1.3.0

[2017-04-27 21:46] noahdietz commented on #136
You aren't doing anything wrong, that would be the fix.

There is some weird behavior, documented/discussed in #94 that kind of explains it. I'm struggling to decide if it should be fixed or not, the issue conversation was non-conclusive.

[2017-04-27 21:55] noahdietz commented on #137
You are right, the docs do indicate this should be possible when in how it says `valid path or query parameters` but it is not implemented in the templates, at first glance.

[2017-04-28 16:07] baynezy opened #138 "Add YAML Support"
Currently the project does not work with a Swagger spec written in YAML. YAML is a Superset of JSON so this could be achieved by doing a conversion beforehand.

[2017-04-28 16:15] baynezy commented on #135
@noahdietz - that does indeed look like it is resolved and explains why when I check out your project and and run the tests they behave themselves.

However, v1.3.0 was cut on [13th October](https://github.com/apigee-127/swagger-test-templates/releases/tag/v1.3.0) and that fix was in December and [so is not in the NPM package](https://github.com/apigee-127/swagger-test-templates/compare/v1.3.0...m

[2017-04-28 16:23] baynezy commented on #136
OK. I will close this ticket and wade in on the other one when I have had a closer look at it.

[2017-04-28 16:23] #136 closed

[2017-05-03 12:08] baynezy commented on #137
Thanks. I will have a go at implementing this.

[2017-05-03 12:08] #137 closed

[2017-05-03 15:22] baynezy commented on #94
I am happy to do this work as this is a big problem for me. I would just like some guidance on what you were both imagining. `json: true` definitely fixes my issues, but I want to understand if that is what you had in mind?

[2017-05-03 15:23] baynezy commented on #94
As you can see if you run this it definitely does not return an object by default:-

    var request = require("request");

    request({
            url: 'https://api.github.com/users/baynezy',
            method: 'GET',
            headers: {
                'User-Agent': 'baynezy'
            }
        },
        function(error, res, body) {
            if (error) return done(error);

[2017-05-04 01:15] noahdietz commented on #94
In looking at the request docs more and the templates, I'm wondering how what we do currently even works.

If request data is given for the `body`, it populates the object in the `request.options.json` property...this should just be a boolean flag that toggles the parsing of JSON by request. The data should really be put in the `request.options.body`.

@baynezy if you want to make the changes, I'l

[2017-05-04 11:34] baynezy commented on #94
@noahdietz - I am not sure you can limit it to just `application\json`. [Vendor specific media types](https://en.wikipedia.org/wiki/Media_type#Registration_trees) are quite prevalent e.g. `application/vnd.github.v3+json`.

I can go with just implementing `application\json` for now, but there will be more work needed.

[2017-05-04 17:47] noahdietz commented on #94
@baynezy good point
would it be too hacky to right a handlebars helper to check the consume/produces strings for `json`? If that sounds like a reasonable approach, go for it, then we can support `json` in general.

[2017-05-05 20:55] #94 closed

[2017-05-05 21:10] noahdietz commented on #135
I just published a new release `1.4.0` can you confirm that this behavior is gone? Then close if so.

[2017-05-06 05:34] baynezy commented on #135
@noahdietz - that has resolved it thank you.

[2017-05-06 05:34] #135 closed

[2017-05-10 16:05] Conorrr commented on #138
You can use [yamljs](https://www.npmjs.com/package/yamljs) to load yaml files. I suspect external $ref dependencies will not resolve though.

[2017-05-10 16:15] noahdietz commented on #138
If the `$ref` are in left intact, thats fine, the JSON spec should be run through `deref` anyways.

[2017-05-10 16:22] Conorrr commented on #138
Refs to internal elements will be fine, but the reffed external files will be in yaml. Does deref support yaml files?

[2017-05-10 16:27] noahdietz commented on #138
Good point, no [json-schema-deref-sync](https://www.npmjs.com/package/json-schema-deref-sync) doesn't support yaml files...those would all have to be converted prior to `deref` running on the main spec file. hm...

[2017-05-11 08:09] baynezy commented on #138
Sounds like converting YAML Swagger to JSON Swagger is a whole project in it's own right.

[2017-05-11 08:11] baynezy commented on #138
Or effectively a YAML version of [json-schema-deref-sync](https://www.npmjs.com/package/json-schema-deref-sync).

[2017-05-11 16:14] noahdietz commented on #138
Yeah, so yaml<>json conversion might be too much.

Projects like [sway](github.com/apigee-127/sway) accomplish this, but it would require a significant rewrite of this module's execution path. I'm giving it a shot in another, unofficial project called [oatts](github.com/noahdietz/oatts).

Can we agree on closing this issue as the work might be out of the scope of this project?

[2017-05-15 09:16] baynezy commented on #138
Closing as out of scope

[2017-05-15 09:16] #138 closed

[2017-05-15 11:39] demns opened #144 "Update handlebars to the latest version"
As it was stated here:
https://github.com/wycats/handlebars.js/blob/master/release-notes.md#v405---november-19th-2015
Uglify until 2.6 contained security vulnerability, more info here: https://nodesecurity.io/advisories/48

Is it possible to update handlebars version to the latest one? Thanks!

*nsp check currently returns this:
![selection_029](https://cloud.githubusercontent.com/assets/7815691/2

[2017-05-15 14:23] noahdietz commented on #144
Thanks @demns for opening this.

I just tried things out locally and updating the package breaks the tests. As such, it will take some more time to get this change in. The test comparison files need to be updated.

Just wanted to give you an ack.

[2017-05-15 15:22] noahdietz commented on #144
Turns out it was an easier fix than I thought. Through looking at the change logs and the test diffs, I was able to narrow it down to the breaking change.

Interesting discussion about behavior of [contexts in handlebars](https://github.com/wycats/handlebars.js/issues/1028)

[2017-05-15 16:32] #144 closed

[2017-05-15 16:57] demns commented on #144
@noahdietz thank you very much for your investigation and an extremely quick fix! Keep it up!

[2017-07-04 09:16] endasil opened #147 "Setting multiple mockvalues"

[2017-07-04 11:46] #147 closed

[2017-07-11 12:38] spacemonkeyHere opened #148 "How to use it"
Hi,
it may be a noob question but how do you use the example on this page ?
after installing this npm package and adding the example i just get a weird error
`ode_modules/swagger-test-templates/templates/default/get/get.handlebars'
    at Error (native)
    at Object.fs.openSync (fs.js:640:18)
    at Object.fs.readFileSync (fs.js:508:33)
    at testGenResponse (`

I am guessing you miss some noob

[2017-07-12 16:05] baynezy commented on #148
You can use it like so:-

    var fs = require("fs"),
        stt = require("swagger-test-templates"),
        swagger = require("swagger.json"),
        config = {
            assertionFormat: "expect",
            testModule: "request",
            pathName: [],
            maxLen: -1
        };

    var tests = stt.testGen(swagger, config);

    tests.forEach(function(element) {
        fs.writ

[2017-08-25 08:18] NeverZong opened #149 "HTTPS API"
Hello, i wanna know if this tool supports https request?

[2017-08-25 08:47] baynezy commented on #149
@NeverZong - yes it does. It respects the `schemes` node of [Swagger 2.0](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#swagger-object)

So if you define your API to be on `https` then this project will generate tests that make calls to it there.

[2017-08-25 09:06] NeverZong commented on #149
When I use https to generate the tests , the tests  runs the error, seems like the request was not sent to the background. Is there any demo of https can refer to.

[2017-08-25 09:41] NeverZong commented on #149
Is this tool used for black box testing or white box testing? Looking forward to your reply, thank you.

[2017-08-25 11:12] baynezy commented on #149
@NeverZong - It creates Mocha tests that can be executed against your running API. So it is for black box testing.

Regarding you error can you post an example of your problem? There is nothing special about testing HTTPs, the tests just get generated on a different protocol.

[2017-08-26 06:33] NeverZong commented on #149
@baynezy - First thank you for your help.
Every test error is:

[code]

It looks like all `res `is undefined. An example of tests is:
[code]

[2017-08-26 07:21] NeverZong commented on #149
When the Argument `testModule` uses `request`, the error will be:
[code]

[2017-08-26 07:39] baynezy commented on #149
If you look at the generated test the URI it is trying to call is `/v1.0/087090c648064e0a8d8c243780ad91bf/quotas`

Which has no protocol or domain. Are you setting a `host` in your swagger file?

[2017-08-26 08:27] NeverZong commented on #149
Yes, I set a `host `in my swagger file.
[code]
When the Argument `testModule `uses `supertest`,
`var api = supertest('https://10.40.44.73:16843'); // supertest init;`
` api.put('/v1.0/087090c648064e0a8d8c243780ad91bf/quotas')`
the error is:
`TypeError: Cannot read property 'status' of undefined`

When the Argument `testModule `uses `request`, the tset is
[code]
the error is:
`Error: tunneling sock

[2017-08-29 08:00] baynezy commented on #149
@NeverZong - are you behind a proxy by any chance?

https://stackoverflow.com/a/33892578/1003830

[2017-08-29 09:28] NeverZong commented on #149
@baynezy Yes,you are right！I finally reloaded `Node `to solve this problem. Thank you!

I have another problem here. My API only returns the http state code 200. The generated test's assertion is:
[code]
and the error is:
`Uncaught AssertionError: expected undefined to equal null`

I need to manually modify the code as follows
[code]
How to fix this?
Is my `json `file written wrong? My background

[2017-08-29 10:23] baynezy commented on #149
@NeverZong - can you open a new issue for this? As we have resolved this one. In that issue can you post the Swagger file so I can see what you have put in there?

[2017-08-29 10:24] baynezy commented on #149
@noahdietz - this should be closed.

[2017-08-29 10:32] baynezy commented on #118
@bgaluszka  - I believe that this has been resolved in #140 . Can you confirm?

[2017-08-29 11:22] bgaluszka commented on #118
@baynezy unfortunately I don't have that code/spec anymore since we changed our toolkit and moved to swagger 3.0 :/ I've looked on that part of code and it still there https://github.com/apigee-127/swagger-test-templates/blob/master/templates/request/post/post.handlebars#L29-L31, so unless it's not used it's not fixed :)

[2017-08-29 15:47] noahdietz commented on #149
@baynezy thank you for working through this.

[2017-08-29 15:47] #149 closed

[2017-08-29 16:00] noahdietz commented on #118
Really, I think the request body should be prepared as an object and just dropped in to the template. Example in [another project](https://github.com/noahdietz/oatts/blob/master/templates/transactionLevel.handlebars#L3-L4) (excuse the awkward formatting, whitespace in handlebars is annoying).

[2017-08-30 16:15] jenkink opened #150 "Request Data working?"
Hi ive been trying to use the request Data parameter but to no avail following the documentation

[code]

however i still end up with
[code]

in the request in the generated test

heres the parameters set in the route

[code]
PR #137 seems to fix this issue but im still not getting data

am i missing something obvious?

[2017-08-30 16:26] baynezy commented on #150
@jenkink can you post the swagger file at all?

[2017-08-30 16:31] jenkink commented on #150
is there a way i can send it directly? dont want to post it

[2017-08-30 16:51] noahdietz commented on #150
I just injected a query string param successfully with a simple API I have.

Here is a gist with all of the files: https://gist.github.com/noahdietz/f20f5668038a25099de408de9f31ff15

[2017-08-30 18:10] jenkink commented on #150
tried the simple API and had success, so it must be an issue with my swagger then, ive stripped it down to only the route ive been trying to get to work

[code]

[2017-08-30 18:19] noahdietz commented on #150
I'm going to update here as I debug.

I logged the params to the  `requestDataParamFormatter`helper [here](https://github.com/apigee-127/swagger-test-templates/blob/master/lib/helpers.js#L228) and found that the `requestParameters` object is empty.

[2017-08-30 18:33] noahdietz commented on #150
looks like the `config.requestData` parsing code is [using](https://github.com/apigee-127/swagger-test-templates/blob/master/index.js#L204) the `requestPath`, which is prepended with the `swagger.basePath` if such a property exists [(here)](https://github.com/apigee-127/swagger-test-templates/blob/master/index.js#L93), rather than just the path segment defined in the spec that's being evaluated. I

[2017-08-30 18:39] jenkink commented on #150
@noahdietz yes using the full path does work thanks for the help, i will use this work around

[2017-09-05 01:53] shenghu opened #151 "Can you support openapi 3.0.0?"
This is good framework. I'm very interested to see how to use it to test our APIs. But we are moving from swagger 2.0 to openapi 3.0.0. Is it easy for you to support openapi 3.0.0?

[2017-09-05 15:22] lcofre opened #152 "Re-generate tests not overwriting changes"
Thanks for this project!

Following your advice @baynezy in issue #148 I could generate the tests and run them with mocha.

Now my doubt is, How can I customize the tests (e.g. 'DATA GOES HERE' and 'PARAM GOES HERE' appear when parameters are defined in body and path, respectively) but allow to re-generate them when the API definition changes?

For query parameters I see a .env file that contains

[2017-09-05 15:28] baynezy commented on #152
@lcofre take a look at [requestData](https://github.com/apigee-127/swagger-test-templates/blob/master/README.md#sending-requestdata) parameter

[2017-09-05 17:38] noahdietz commented on #151
I haven't been able to dive in and figure out the parts that will have to change. I can't give you an ETA on this right now, but it is on the todo list

[2017-09-05 17:47] mohsen1 commented on #151
I would love to see this support OpenAPI 3 but I think if that's a lot of changes it might worth writing it from scratch with following goals:

* No more templating. JavaScript is a dynamic language, test API dynamically using the spec.
* Middleware architecture: Allow middleware interceptors for request and response flows and implement most of behaviors as middleware. Even test assertion can be a

[2017-09-06 09:52] lcofre commented on #152
Thanks very much! I configured the the tests through the requestData parameter.

Sorry for a question so easily answerable by reading the readme.

Thanks!

[2017-09-06 09:52] #152 closed

[2017-09-06 10:28] lcofre opened #154 "Wrong processing if basePath is present in swagger definition"
It seems to me that when basePath is present in the swagger definition the requestData configuration is ignored. I tested the following reusing the files in the `swagger-test-templates/test/request-data/` test:

The swagger definition is the one at https://github.com/apigee-127/swagger-test-templates/blob/92f444daae2e99cb9a183c7cee85add74ff37522/test/request-data/swagger-post.json only adding the

[2017-09-06 11:07] baynezy commented on #152
@lcofre - no problem. That is the world telling us that we should have better documentation :smile:

[2017-09-06 11:09] baynezy commented on #154
@lcofre - we had a similar bug reported the other day #150
@noahdietz - has an open PR #153 which resolved #150 but we should test the case and resolve them both in one go.

Can you try the work around mentioned in #150 in the meantime?

[2017-09-06 12:13] lcofre commented on #154
Great! I'll wait for the merge of the PR. In the meantime I am using the workaround.

Thanks!

[2017-09-06 17:10] #150 closed

[2017-09-06 17:12] noahdietz commented on #154
@lcofre the fix for the base path bug in request data has been released in v1.4.3

Please follow up if there are any more issues. Thanks for the report and using STT!

[2017-09-06 17:12] #154 closed

[2017-09-06 17:12] noahdietz commented on #150
@jenkink released the fix in v1.4.3

Please follow up if there are any more issues or questions. Thanks for the bug report and for using STT! much appreciated.

[2017-09-07 14:58] jenkink commented on #150
great thanks!

[2017-09-07 14:59] jenkink commented on #128
curious if there has been any movement on this issue? as i too will need to do something like this with my tests

[2017-09-07 22:27] noahdietz commented on #128
@jenkink With how closely tied the request data injection/resolution is with the template compilation I think this might be a more involved change to make. Idk when I'll have time to work on it, but I agree that this is a feature we should support

[2017-09-08 12:13] baynezy opened #155 "AppVeyor build should not execute for tags"
AppVeyor should not run for tags. This is an oversight on my part from PR #141. I will resolve it.

[2017-09-08 20:20] #155 closed

[2017-09-19 18:21] jenkink opened #157 "Test Execution Order"
This is more of a question than an issue, but is there a way to customize the order in which the tests are generated, say if i wanted to do a PUT, POST, GET, DELETE? Or would that be dependent on how the are ordered in the swagger file?

[2017-09-19 19:20] noahdietz commented on #157
No there isn't a way to customize the order of the operations as they are generated. But yes your suggestion about op order in your spec is correct. The tests are generated sequentially/as they appear in the spec.

Please close this if the answer is sufficient! :)

[2017-09-19 19:24] jenkink commented on #157
ok great thanks closing.

[2017-09-19 19:24] #157 closed

[2017-10-03 08:58] lcofre commented on #151
Thanks @mohsen1 and @noahdietz for your efforts!

I look forward to your work as we are also migrating to 3.0.0 and testing the API is the only stopper.

Thanks!

[2017-10-13 11:05] mikeb008 opened #158 "requestData parameter completely ignored"
I am using the requestData parameter, to send data with the request.  However, all I see is {DATA GOES HERE}.

The ApiPath is "/identities/{id}"
The operation is "GET"
The response is "200"

The requestData parameter is:
{
	"/identities/{id}": {
       	   "get": {
           	"200": [{"id":"3000002307", "identityType":"username"}]
          }
	}
  }

I have tried all variations of ApiPath/Operati

[2017-10-13 13:07] baynezy commented on #158
Does your swagger spec have a `basePath` set?

[2017-10-13 14:26] mikeb008 commented on #158
Hi Simon

Yes it does have a basePath set

mikeb

[2017-10-13 14:34] baynezy commented on #158
There is a bug about `basePath` #154 which was a duplicate of #150. This was fixed in #153 which went out in version 1.4.3. Are you using latest version of STT? If not can you update.

Also, are you sure you are passing the parameter correctly? If memory serves me right when using `requestData` `description` is a required field and doesn't fail silently. Can you post your swagger and node code?

[2017-10-13 17:37] mikeb008 commented on #158
Hi Simon

Please find attached node js program (renamed to .txt as Google blocks .js)
and swagger doc.

Thanks for your help.
mike

On Fri, Oct 13, 2017 at 4:34 PM, Simon Baynes <notifications@github.com>
wrote:

//module dependencies
var stt = require('swagger-test-templates');
var fs = require('fs');
var mkdirp = require('mkdirp');
var getDirName = require('path').dirname;
var async = require('a

[2017-10-16 05:27] baynezy commented on #158
@mikeb008 you issue is the `requestData` parameter is in the wrong format.

You have used:-

[code]

But you should have:

[code]

[2017-10-16 05:57] baynezy opened #159 "requestData documentation is incorrect"
`requestData` lists itself as an array, but it is an `object` causing confusion.

[2017-10-16 05:58] baynezy commented on #158
I appreciate the documentation is misleading. I have raised #159 to resolve.

[2017-10-16 08:49] mikeb008 commented on #158
Hi Simon

Thanks for your response.

Are you saying that *requestData* should be an *object* and not an *array*?

I have made the adjustment as per your advise and it still does not work.
Same result "DATA GOES HERE"

Regards
mike

On Mon, Oct 16, 2017 at 7:27 AM, Simon Baynes <notifications@github.com>
wrote:

[2017-10-16 09:04] baynezy commented on #158
@mikeb008 - yes that is what I am saying.

In my test case I produced that did resolve the issue. However, I had trouble reproducing your exact issue, as part of your example was not present because I believe you are using email attachments which don't look like they are supported.

Can you either add your swagger file using Markdown in the issue, create a gist in GitHub and link to it, or create

[2017-10-16 09:25] mikeb008 commented on #158
Hi Simon

I have attached the swagger as a txt file and here is the actual swagger
file:

{
"swagger": "2.0",
"info": {
"version": "2.0",
"title": "Identities-v2"
},
"host": "10.36.4.56:9001",
"basePath": "/v2/identities",
"schemes": ["http"],
"consumes": ["application/json"],
"produces": ["application/json"],
"paths": {
"/openapi.json": {
"get": {
"description": "Retrieve Open API specification f

[2017-10-16 12:29] baynezy commented on #158
@mikeb008 - you do not have a `/identities/{id}` endpoint defined in that swagger document. You have a `/identities` and a `/{id}`, but not the one you are passing `requestData` for.

[2017-10-16 13:14] mikeb008 commented on #158
Hi

Yes, you are correct. I changed it to that because using  /identities/{id} does
nothing / ignores the path.

When I use /{id} fails with the following error:

/Users/xxxxxx/Documents/workspace/test/node_modules/swagger-test-templates/index.js:215

      })[0][parameter.name];

                     ^

TypeError: Cannot read property 'id' of undefined

    at
/Users/michael100/Documents/workspac

[2017-10-16 14:45] baynezy commented on #158
@mikeb008 if I take your swagger file and run it with this it works as expected:-

[code]

[2017-10-16 15:20] mikeb008 commented on #158
This is the version of STT I am using (as per package.json) that throws the
exception:    "swagger-test-templates": "^1.4.3"

What version of STT are you using?

On Mon, Oct 16, 2017 at 4:45 PM, Simon Baynes <notifications@github.com>
wrote:

[2017-10-16 16:12] baynezy commented on #158
@mikeb008 - the same.

See this repo for the code https://github.com/baynezy/stt-test

[2017-10-16 17:16] #159 closed

[2017-10-16 17:18] noahdietz commented on #130
If the question is answered, please close this issue. I will close soon if there is no response.

[2017-10-16 17:32] #130 closed

[2017-10-17 12:28] baynezy commented on #158
@mikeb008 - has this helped resolve your problem?

[2017-10-17 14:16] mikeb008 commented on #158
Hi Simon,

No, I still get the parameter error I shared with you before.

When I downgrade STT to 1.4.2, the parameter error disappears, however, I
am still unable to get STT to populate "*qs*" section of the tests - it
remains with {DATA GOES HERE}.

Could you please send me the output (tests) that you get when running with
my swagger.

Thanks
mike

On Tue, Oct 17, 2017 at 2:28 PM, Simon Baynes <

[2017-10-17 14:47] baynezy commented on #158
@mikeb008 - I realised that I removed `pathParams` and moved the `id` to `requestData`. I have updated the repo I posted yesterday with the update and the generated tests.

[2017-10-17 18:23] mikeb008 commented on #158
Hi Simon,

Thanks ...

I can see that it did work for you.

I suspect that I may have some conflicting modules.  I will clean my
repository & start fresh.

Will give you feedback.

On Tue, Oct 17, 2017 at 4:52 PM, Simon Baynes <notifications@github.com>
wrote:

[2017-10-19 08:56] mikeb008 commented on #158
Hi Simon,

I cleanup my repo, started all over and it works!
It must have been some old gremlin conflicting with my system.

Thank you so much for all your help, much appreciated.

On Tue, Oct 17, 2017 at 4:52 PM, Simon Baynes <notifications@github.com>
wrote:

[2017-10-19 09:44] baynezy commented on #158
Great, can you close the ticket

[2017-10-19 14:28] mikeb008 commented on #158
I am unable to close the issue as I am not a collaborator.

You may close the issue.

Than thanks

On Thu, Oct 19, 2017 at 11:44 AM, Simon Baynes <notifications@github.com>
wrote:

[2017-10-19 16:06] #158 closed

[2017-10-19 16:07] noahdietz commented on #158
Thanks @baynezy for working through this, and thanks @mikeb008 for being willing to debug!

[2017-11-03 11:32] leandro-battaglia opened #161 "Multiple value for 'path' parameter"
Hi,
i was wondering if there is a way to generate test with different values as path parameter.

Let's say i have this swagger description:

[code]
I would like to have _n_ tests each one with different value of _{parametro}_.
Something like this
[code]

I've tried to use both _requestData_ and _pathParams_ with no success.

Thank you

[2017-11-09 05:06] xke7 opened #162 "Access to response for custom assertion"
It could be good to define additional assertion while generating tests

[2017-11-10 18:20] biancajiang commented on #162
+1

Similar to "requestData", ability to have "expectedResponse" as well for each requestData element will be very valuable.

Basic assertion like assert.deepEqual() for json responses.

[2017-11-30 22:38] tmulry opened #163 "Misnamed property in load test template"
The arete tests reference a `averageResponseTimeInternal` on the arete report object after a load test is run. This property does not exist. It should be changed to `averageResponseTimeInterval`.  (see here for the relevant arete report properties: https://github.com/capablemonkey/arete/blob/f6dd1c37d88547d7280d2363c5c63401d7daeb77/index.js#L99 )

[2017-12-01 14:11] svenvarennes opened #165 "descriptions containing single quotes do not get escaped."
Use double

[2017-12-01 16:23] svenvarennes opened #166 "dependencies are not automatically installed"
dependencies are not automatically installed

[2017-12-21 15:54] tmulry commented on #161
@leandro-battaglia Currently the code is hardcoded to always use the pathParams in the first request data object for each responseCode.  What I ended up doing is writing an extra function to modify the pathParams based on the response code:

[code]
and then added this function.
[code]
    requestData: {

      '/v1/prova/{parametro}': {
        get: {
          '404': [{
            parametro: 'ab

[2017-12-29 21:55] leandro-battaglia commented on #161
Thank you for your response @tmulry. By the way i already came up with a solution similar to the one that you suggested.
Think we can close now.
Thanks again.

[2017-12-29 21:55] #161 closed

[2018-03-21 12:44] danielgaroz opened #169 "testGen not working with endpoints deprecated"
When I try generate test for endpoints deprecated, testgen generate empty files

[2018-04-11 09:13] haptear opened #171 "gen test.js error"
Use this "http://swagger-net-test.azurewebsites.net/swagger/docs/V1" swagger to gen the test.js

file: api-ArrayTest-Post Arrays-test.js

the last it is wrong format:
it('should respond with 200 OK', function(done) {
      request({
        url: 'http://swagger-net-test.azurewebsites.net/api/ArrayTest/Post Arrays',
        method: 'POST',
        headers: {
          'Content-Type': 'text/html',

[2018-05-05 23:49] #128 closed

[2018-05-15 21:24] olenakulik opened #172 "Query params that are not required included in every request like 'optional_fields: 'DATA GOES HERE''"
I have a configuration for test_gen with different combinations for query params for endpoint:
[code]

All these params are not required, an example from spec:
[code]

**Why codegen includes all of them into request?**
Am I missing something?
[code]

Thanks in advance! :)

[2018-08-14 08:52] tkirby opened #173 "How to specify URL?"
How to change loclahost:10010 to the actual address of my server?

[2018-08-14 16:54] noahdietz commented on #173
Hi! This isn't documented, apologies, but if you define the top level `host`  property in your API spec, it will be reflected in the generated tests. `localhost:10010` is just the default for when that does not exist.

If this answers your question fully, please close the issue! Thanks! and thanks for using STT! Have you tried [https://github.com/google/oatts](https://github.com/google/oatts)? I b

[2018-11-07 04:53] shadowman9443 commented on #148
How to run this file
var fs = require("fs"),
    stt = require("swagger-test-templates"),
    swagger = require("swagger.json"),
    config = {
        assertionFormat: "expect",
        testModule: "request",
        pathName: [],
        maxLen: -1
    };

var tests = stt.testGen(swagger, config);

tests.forEach(function(element) {
    fs.writeFile("./test/" + element.name, element.test, (err) =

[2019-02-25 13:48] jkomyno commented on #151
Hi, @mohsen1 @apigee-127, any news about this issue?

[2019-02-25 17:51] noahdietz commented on #151
Hi @jkomyno this project is not actively developed right now and there hasn't been any progress on this work. Apologies.

[2019-04-10 10:50] HarishRaj11 opened #182 "Test Templates for rspec Added"
The test templates for Rspec has been created and which can be accessed by setting the lang attribute of the config variable to rb. The value of the lang variable has been defaulted to js (pointing to javascript folder). Can u check if the templates are fine and approve the PR as Rspecs are vital in companies. Thanks

[2019-04-10 16:50] noahdietz commented on #182
I would prefer that this project stick to generating strictly Node.js code. Other Node.js request/testing frameworks are acceptable. Maintaining multiple language targets adds more complexity than I'd like. I appreciate the desire to contribute the rspec work you've done back to the project.

[2019-04-10 16:50] #182 closed

[2020-03-27 16:44] DeeDeeG opened #186 "Replace unmaintained dependencies"
Hi,

`string` and `optimist` are unmaintained. They also have vulnerability reports against them (or their own dependencies; `optimist` depends on an old version of `minimist` that is vulnerable).

Suggested replacements...
- `string` -->
  - [`underscore.string`](https://www.npmjs.com/package/underscore.string)?
  - [`truncate`](https://www.npmjs.com/package/truncate)?
- `optimist` -->
  - [`yarg

[2020-03-27 17:02] DeeDeeG commented on #186
As far as I can tell `string` is only needed for the `string.truncate` function...

https://github.com/apigee-127/swagger-test-templates/blob/24a109434cefd020d45f37d9a05058bc564f2a52/lib/helpers.js#L4

https://github.com/apigee-127/swagger-test-templates/blob/24a109434cefd020d45f37d9a05058bc564f2a52/lib/helpers.js#L190

Could be replaced by `.truncate` from the [`underscore.string`](https://www.np